@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Kanit:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  // fonts
  --h1-font: "Kanit", sans-serif;
  --text-font: "Inter", sans-serif;
  // colours
  --black: #101014;
  --white: #fbfafa;
  --grey: #8b8b8b;
  --orange: #ff802c;
  --purple: #6671e3;
}

html {
  font-family: var(--text-font);
  background-color: var(--black);
  color: var(--white);
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: 400;
}

h1 {
  font-family: var(--h1-font);
  font-weight: bold;
  // set size, line height etc here
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
  color: var(--orange);
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1rem;
  color: var(--grey);
  font-weight: 400;
}
